/* Add a black background color to the top navigation */

@import url('https://fonts.googleapis.com/css?family=lato');
      
body {
  font-family: 'Lato'; /* 'cursive' is a fallback font */
}     

p {
  line-height: 1.0;  
}

.h2 {
  font-size: 20px;
}
.topnav {
    background-color: #254665;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(83, 95, 175);
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #ac53a3;
    color: white;
  }

  .header{
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
  
  }

  .topnav{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }


  .created{
    width: 100%;  
    text-align: right; 
    display: block;
  }

  section {
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 20px;
  }

  .toolbar {
    position: fixed;
    top: 200;
    left: 0;
    width: 100%; /* Make it span the entire width */
    background-color: #f0f0f0; /* Example background color */
    padding: 10px; /* Add some padding */
    z-index: 300; /* Ensure it stays on top of other content */
  }

  #map {
    width: 970px;
    height: 550px;
}


.graticule {

    fill:none;
    stroke:rgb(102, 104, 105);
    stroke-width:1px;
    stroke-opacity:0.2;
}
.graticule-outline {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}
.info-box {
  position: absolute;
  top: 700px;
  left: 900px;
  padding: 10px;
  background: #254665;
  border: 2px solid #f8f6f6;
  border-radius: 5px;
  font-size: 15px;  
  opacity: 0.9;
  z-index: 10; 
  display: none; 
}
.toolbox {
  position: absolute;
  top: 390px;
  left: 1250px;

}
.label {
  font-size: 0.8em;
  fill: black;
  text-anchor: middle;
}
/* Button */

.button-container {

  display: flex; 
  width: 80%; 
  margin-left: 170px;

  
}

.button-container button {

  background-color: #22598679;
  flex: 2; 
  padding: 10px 15px; 
  margin: 10px; 
  box-sizing: border-box; 
  
}

button {
  background-color: #4CAF50; /* Default background color (green) */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}

button:active {
  background-color: #3e8e41; /* Even darker green when active */
}


.flag-container {
  display: flex; 
  width: 80%; 
  margin-left: 180px;
}
.flag-container div {
  
  flex: 10; 
  padding: 1px 50px; 
  margin: 1px; 
  box-sizing: border-box;
}

.profile-container {
  display: flex; 
  width: 100%; 
  
}

.profile-container div {

  background-color: rgba(16, 102, 199, 0.055);
  flex: 2;
  padding: 10px 15px; 
  margin: 5px; 
  box-sizing: border-box; 
  width: 400px; 
  height: 350px;
}
.svgContainer1 {
  width: 400px;
  padding-bottom: 10px;
  padding-left: 20px;
  border: 1px solid #bb3636;
  display: none; /* Oculto inicialmente */

}
.radial-bar {
  fill: steelblue;
}
.label {
  font-size: 0.8em;
  text-anchor: middle;
}









